<img class="banniere img-responsive" src="/assets/vergers_accueil.png" title="logo" alt="logo">

<div class="intro">
	<p>Trop de fruits!?</p> <p>Trop de légumes!?</p> <p>Faites en profiter les autres!</p>
</div>
