@font-face {
    font-family: 'QUINB___';
    src: url('QUINB___/QUINB___.eot');
    src: url('QUINB___/QUINB___.eot?#iefix') format('embedded-opentype'),
         url('QUINB___/QUINB___.woff') format('woff'),
         url('QUINB___/QUINB___.ttf') format('truetype'),
         url('QUINB___/QUINB___.svg#QUINB___') format('svg');
    font-weight: normal;
    font-style: normal;
}
.accueil_container{
    background-image: url('vergers.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    float: left;
}
.intro{
    width: 100%;
    font-family: 'QUINB___';
    font-size: 2em;
    padding: 5% 0 0 5%;
}
.titre{
    font-family: 'QUINB___';
    font-size: 3em;
    color: white;
    padding: 5% 5% 0 0;
    align-self: flex-end;
}
.accueil_choix{
    width: 100%;
    display: flex;
    min-height: 700px;
    align-items: center;
    justify-content: center;
}
.accueil_depot{
    width: 50%;
    height: 100%;
}
.accueil_search{
    width: 50%;
    height: 100%;
}