@font-face {
    font-family: 'QUINB___';
    src: url('QUINB___/QUINB___.eot');
    src: url('QUINB___/QUINB___.eot?#iefix') format('embedded-opentype'),
         url('QUINB___/QUINB___.woff') format('woff'),
         url('QUINB___/QUINB___.ttf') format('truetype'),
         url('QUINB___/QUINB___.svg#QUINB___') format('svg');
    font-weight: normal;
    font-style: normal;
}

.banniere {
	display: flex;
    float: left;
	width: 100%;
	background-image: url('vergers_accueil.png');
	background-size: cover;
	padding-bottom: 28%;
}

.intro {
    float: left;
    width: 100%;
}