@font-face {
    font-family: 'flower';
    src: url('indieflower/IndieFlower.eot');
    src: url('indieflower/IndieFlower.eot?#iefix') format('embedded-opentype'),
         url('indieflower/IndieFlower.woff') format('woff'),
         url('indieflower/IndieFlower.ttf') format('truetype'),
         url('indieflower/IndieFlower.svg#IndieFlower') format('svg');
    font-weight: normal;
    font-style: normal;
}

.banniere {
	width: 100%;
	background-attachment: fixed;
}
