.navbar {
	display: flex;
	width: 100%;
	float: left;
	background-color: #33B240;
	font-family: 'Raleway-SemiBold';
}

.lien_nav {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 10px 15px 10px 15px;
	color: rgba(236, 240, 241,1.0);
	color:black;
}

#icone {
	background-image: url('ico_accueil.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.search {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 10px 15px 10px 15px;
	margin-left: auto;
	color:black;
}