.navbar {
	display: flex;
	width: 100%;
	float: left;
	background-color: #70C63F;
}

.lien_nav {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 10px 15px 10px 15px;
	color: rgba(236, 240, 241,1.0);
}

.lien_nav:hover {
	background-color: rgba(39, 174, 96,1.0);
}