.result_annonces{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	float: left;
}

.classement_result {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 15px;
	padding: 5px;
	width: 50%;
	background-color: white;
	box-shadow: 1px 1px 12px #555;
	text-align: justify;
	line-height: 150%;
}

.classement_result:hover {
	transform: scale(1.05);
}

.titre_annonce {
	font-family: 'QUINB___';
	font-size: 2em;
}

.code_postale {
	float: right;
}

.liens{
	text-decoration: none;
	color: #000000;;
}
