<nav class= "navbar">
	<%= link_to '', annonces_path, :class => "lien_nav", :id => "icone" %>
	<%= link_to 'Proposez quelque chose', new_annonce_path, :class => "lien_nav" %>
	<%= render "annonces/searchbar" %>
</nav>	